.add-ingredient-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-ingredient-feature-card:hover {
  transform: scale(1.02);
}
.add-ingredient-text {
  margin: var(--dl-space-space-twounits);
  padding: var(--dl-space-space-unit);
  align-self: center;
  text-align: center;
  padding-right: 16px;
}
.add-ingredient-root-class-name {
  background-color: #ffffff;
}
