<div>
  <link href="./review-card3.css" rel="stylesheet" />
  <div class="review-card3-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1601758228041-f3b2795255f1?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM4fHxwZXQlMjBmb29kfGVufDB8fHx8MTY3NTI4NTE1MA&ixlib=rb-4.0.3&w=1500"
      class="review-card3-image"
    />
    <div class="review-card3-container">
      <span class="review-card3-text">
        <span>Lorem ipsum dolor sit amet</span>
      </span>
      <span class="review-card3-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur, adipiscing elit. Sed non
          volutpat turpis. ​ Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ​​ ipsum dolor sit amet, consectetur
          adipiscing elit.
        </span>
      </span>
      <div class="review-card3-container1">
        <div class="review-card3-profile">
          <img
            alt="profile"
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&ixlib=rb-1.2.1&h=1200"
            image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
            class="review-card3-image1"
          />
          <span class="review-card3-text2"><span>Jon Doe</span></span>
        </div>
        <span class="review-card3-text3"><span>5 min read</span></span>
      </div>
    </div>
  </div>
</div>
