<div>
  <link href="./review-card1.css" rel="stylesheet" />
  <div class="review-card1-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1608408891486-f5cade977d19?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHBldCUyMGZvb2R8ZW58MHx8fHwxNjc1Mjg1MTUw&ixlib=rb-4.0.3&w=1500"
      class="review-card1-image"
    />
    <div class="review-card1-container">
      <span id="title" class="review-card1-text">
        <span>Lorem ipsum dolor sit amet</span>
      </span>
      <span id="comment" class="review-card1-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur, adipiscing elit. Sed non
          volutpat turpis. ​ Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ​​ ipsum dolor sit amet, consectetur
          adipiscing elit.
        </span>
      </span>
      <div class="review-card1-container1">
        <div class="review-card1-profile">
          <img
            id="userUrl"
            alt="profile"
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&ixlib=rb-1.2.1&w=200"
            image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
            class="review-card1-image1"
          />
          <span id="displayName" class="review-card1-text2">
            <span>Jon Doe</span>
          </span>
        </div>
        <span id="created" class="review-card1-text3">
          <span>5 min read</span>
        </span>
      </div>
    </div>
  </div>
</div>
