<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="home-navbar navbar-container">
    <div class="max-width">
        <div class="home-container1" href="/">
            <a href="/" class="home-navlink">
                <div class="home-logo">
                  <span class="home-text">
                    <span>RIY</span>
                    <br />
                  </span>
                </div>
            </a>
            <a href="/" class="home-text03" >Rate It Yourself</a>
        </div>
        <div class="home-links">
            <a class="home-text04" href="/">Home</a>
            <a class="home-text05 navbarLink" href="/ingredients/analyze">Food Analyzer</a>
            <a class="home-text05 navbarLink" href="/ingredients/all">Ingredients</a>
            <a class="home-text05 navbarLink" href="/products/all-brands">Brands</a>
            <a class="home-text06 navbarLink" href="/about">About Us</a>
            <a class="home-text07" href="/products/all">
                <span>Find Foods</span>
                <br />
              </a>
            <button class="button-secondary button" onclick="window.location.href='/users/login';" sec:authorize="isAnonymous()">Sign In</button>
            <button class="home-button1 button button-primary" onclick="window.location.href='/users/register';" sec:authorize="isAnonymous()">
                Sign Up
            </button>
            <div data-thq="thq-dropdown" class="home-thq-dropdown list-item" sec:authorize="isAuthenticated()">
                <div
                        data-thq="thq-dropdown-toggle"
                        class="home-dropdown-toggle"
                >
                    <span class="home-text10 navbarLink">Profile</span>
                    <div
                            data-thq="thq-dropdown-arrow"
                            class="home-dropdown-arrow"
                    >
                        <svg viewBox="0 0 1024 1024" class="home-icon">
                            <path d="M426 726v-428l214 214z"></path>
                        </svg>
                    </div>
                </div>
                <ul data-thq="thq-dropdown-list" class="home-dropdown-list">
                    <li data-thq="thq-dropdown" class="home-dropdown list-item">
                        <div
                                data-thq="thq-dropdown-toggle"
                                class="home-dropdown-toggle1"
                        >
                            <a class="home-text11" href="/users/my-profile">My Profile</a>
                        </div>
                    </li>
                    <li data-thq="thq-dropdown" class="home-dropdown1 list-item">
                        <div
                                data-thq="thq-dropdown-toggle"
                                class="home-dropdown-toggle2"
                        >
                            <a class="home-text12" href="/products/favorites">Favorites</a>
                        </div>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" data-thq="thq-dropdown" class="home-dropdown2 list-item">
                        <div
                                data-thq="thq-dropdown-toggle"
                                class="home-dropdown-toggle3"
                        >
                            <a class="home-text13" href="/admin">Admin</a>
                        </div>
                    </li>
                    <form th:method="POST" th:action="@{/logout}">
                    <li data-thq="thq-dropdown" class="home-dropdown3 list-item">
                        <div
                                data-thq="thq-dropdown-toggle"
                                class="home-dropdown-toggle4"
                        >
                            <input type="submit" class="home-text14" value="Logout" />
                        </div>
                    </li>
                    </form>
                </ul>
            </div>
        </div>
        <div class="home-burger-menu navbar-burger-menu">
            <svg viewBox="0 0 1024 1024" class="home-icon02">
                <path
                        d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
                ></path>
            </svg>
        </div>
    </div>
</nav>
</body>
</html>