.feature-card31-feature-card {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
}
.feature-card31-icon {
    fill: #595959;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}
.feature-card31-text {
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
}
.feature-card31-text1 {
    color: #0c4237;
    text-align: justify;
}
.all-ingredients-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}
.all-ingredients-features {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
}
.all-ingredients-text {
    font-size: 3rem;
    margin-bottom: var(--dl-space-space-twounits);
    align-items: center;
}
.all-ingredients-text3 {
    color: rgb(12, 66, 55);
    width: 70%;
    font-size: 1.15rem;
    text-align: justify;
    align-items: center;
}
.all-ingredients-container1 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    margin-top: var(--dl-space-space-fourunits);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.feature-card31-feature-card {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
}
.feature-card31-icon {
    fill: #595959;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}
.feature-card31-text {
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
}
.feature-card31-text1 {
    color: #0c4237;
    text-align: center;
}
.feature-card31-text2 {
    font-size: 0.75rem;
    margin-top: var(--dl-space-space-unit);
    font-weight: 500;
}

@media(max-width: 991px) {
    .all-ingredients-text {
        text-align: center;
    }
    .all-ingredients-text3 {
        text-align: center;
    }
    .all-ingredients-container1 {
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 767px) {
    .all-ingredients-features {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
    .all-ingredients-text {
        text-align: center;
    }
}
@media(max-width: 479px) {
    .all-ingredients-features {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }
    .all-ingredients-container1 {
        grid-template-columns: 1fr;
    }
}
