.analyze-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.analyze-form {
  width: 916px;
  height: 100px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.analyze-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.analyze-container2 {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: flex-start;
}
.analyze-container3 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
}
.analyze-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.analyze-textarea {
  width: 100%;
  height: 247px;
}
.analyze-button {
  margin: var(--dl-space-space-halfunit);
  align-self: flex-end;
}
.analyze-ul {
  height: 216px;
}
.analyze-li {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
