.product-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.product-container01 {
  width: auto;
  height: 711px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.product-column {
  flex: 0 0 auto;
  width: 827px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  margin-top: 3px;
  align-items: flex-start;
  flex-direction: column;
}
.product-product-info {
  width: 795px;
  margin: var(--dl-space-space-twounits);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius16);
  background-color: #ffffff;
}
.product-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 6px;
  justify-content: flex-start;
  overflow: hidden;
}
.product-image {
  width: 294px;
  height: 245px;
  object-fit: cover;
}
.product-container03 {
  flex: 0 0 auto;
  width: 477px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-container04 {
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-button {
  align-self: flex-end;
  margin-top: var(--dl-space-space-threeunits);
}
.product-button1 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-unit);
}
.product-button2 {
  align-self: flex-end;
}
.product-button3 {
  align-self: flex-end;
}
.product-review-section {
  width: 795px;
  height: 197px;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 13px;
  background-color: #ffffff;
}
.product-container05 {
  flex: 0 0 auto;
  width: 122px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.product-image1 {
  width: 100px;
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  object-fit: cover;
}
.product-text10 {
  margin: var(--dl-space-space-halfunit);
  align-self: center;
}
.product-container06 {
  flex: 0 0 auto;
  width: 655px;
  height: 149px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-text13 {
  margin: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
}
.product-button4 {
  height: 46px;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
}
.product-container07 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-textarea {
  width: 796px;
  height: 70px;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 0px;
  text-align: justify;
  margin-left: var(--dl-space-space-twounits);
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 0px;
}
.product-button5 {
  margin: var(--dl-space-space-halfunit);
  align-self: flex-end;
}
.product-container08 {
  flex: 0 0 auto;
  width: 287px;
  height: 521px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product-text20 {
  align-self: center;
}
.product-container09 {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius16);
  background-color: #ffffff;
}
.product-image2 {
  width: 126px;
  height: 108px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.product-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.product-container11 {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius16);
  background-color: #ffffff;
}
.product-image3 {
  width: 126px;
  height: 108px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.product-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
