<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header"></head>

<body>
<header th:replace="fragments/navigation"></header>
<link href="/css/about.css" rel="stylesheet"/>
<link href="/css/home.css" rel="stylesheet"/>
<main>
<div class="about-container">
    <div id="About" class="about-container2">
        <div>
            <div>
                <h2 class="about-text15">
                    All About Personal Project - Rate It Yourself (RIY)
                </h2>
                <p class="about-text16">
                <span>
                  This is a SoftUni Project for the Java Web - Spring Advanced
                  module.
                </span>
                    <br/>
                    <span>
                  It's main purpose is to provide breakdown of food based on
                  provided by user ingredients list so that they can visibly see
                  and understand better what is in their pets food.&nbsp;
                </span>
                    <span>
                  It should also provide easy way to browse foods, brand
                  products, review them, save favorite foods. etc
                </span>
                    <br/>
                </p>
            </div>
        </div>
    </div>
</div>
</main>
    <footer th:replace="fragments/footer"></footer>
<script src="/js/main.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>
