<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>

<body>
<header th:replace="fragments/navigation"></header>
<link href="/css/analyze.css" rel="stylesheet"/>
<link href="/css/home.css" rel="stylesheet"/>
<main class="canvas-container">
  <div class="analyze-container">
    <form class="analyze-form" th:method="POST" th:action="@{/ingredients/analyze}" th:object="${ingredientsListDTO}">
      <div class="analyze-container1">
        <div class="analyze-container2"><h1>Pet Food Analyzer</h1></div>
        <div class="analyze-container3">
          <span>
            Analyze pet food. Place ingredients separated by comma and get a
            full description of each ingredient by category. Understand what is
            in the food of your pet better!
          </span>
        </div>
        <div class="analyze-container4">
          <textarea th:value="*{ingredientsList}" th:field="*{ingredientsList}"
                  placeholder="List of ingredients"
                  id="ingredients"
                  name="ingredients"
                  class="analyze-textarea textarea"
          ></textarea>
          <small th:if="${#fields.hasErrors('ingredientsList')}" th:errors="*{ingredientsList}" class="validation">Email error message</small>
          <button class="analyze-button button button-primary">
            <span>
              <span>Analyze</span>
              <br />
            </span>
          </button>
        </div>
        <table>
          <tr th:each="category : ${ingredientBreakdown}">
            <td th:text="${category.key}">keyvalue</td>
            <table>
              <tr th:each="ingredient : ${category.value}">
                <td th:text="${ingredient}"></td>
              </tr>
            </table>
          </tr>
        </table>
      </div>
    </form>
  </div>
</main>
  <footer th:replace="fragments/footer"></footer>
<script src="/js/main.js"></script>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>