.compare-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.compare-navbar {
  align-items: center;
  flex-direction: column;
}
.compare-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.compare-navlink {
  display: contents;
}
.compare-logo {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.compare-text {
  color: #105749;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
}
.compare-text03 {
  color: #000000;
  width: auto;
  height: auto;
  text-align: left;
}
.compare-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.compare-text04 {
  color: #105749;
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.compare-text05 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.compare-text06 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.compare-text07 {
  color: rgb(16, 87, 73);
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-twounits);
}
.compare-button1 {
  color: rgb(255, 255, 255);
}
.compare-thq-dropdown {
  width: auto;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
}
.compare-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.compare-text10 {
  color: var(--dl-color-scheme-green80);
  align-self: center;
  text-align: center;
  margin-right: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.compare-dropdown-arrow {
  transition: 0.3s;
}
.compare-icon {
  width: 100%;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.compare-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-scheme-white);
  list-style-position: inside;
}
.compare-dropdown {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.compare-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.compare-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.compare-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.compare-dropdown1 {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.compare-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.compare-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.compare-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.compare-dropdown2 {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.compare-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.compare-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.compare-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.compare-dropdown3 {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.compare-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.compare-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.compare-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.compare-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.compare-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.compare-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.compare-product-info {
  width: 678px;
  margin: var(--dl-space-space-twounits);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius16);
  background-color: #ffffff;
}
.compare-container4 {
  flex: 0 0 auto;
  width: 789px;
  display: flex;
  align-items: flex-start;
  margin-right: 6px;
}
.compare-image {
  width: 294px;
  height: 215px;
  object-fit: cover;
}
.compare-container5 {
  flex: 0 0 auto;
  width: 357px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.compare-text19 {
  align-self: flex-start;
  text-align: justify;
}
.compare-button2 {
  margin: var(--dl-space-space-halfunit);
  align-self: flex-end;
}
.compare-product-info1 {
  width: 678px;
  margin: var(--dl-space-space-twounits);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius16);
  background-color: #ffffff;
}
.compare-container6 {
  flex: 0 0 auto;
  width: 789px;
  display: flex;
  align-items: flex-start;
  margin-right: 6px;
}
.compare-image1 {
  width: 294px;
  height: 215px;
  object-fit: cover;
}
.compare-container7 {
  flex: 0 0 auto;
  width: 357px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.compare-text24 {
  align-self: flex-start;
  text-align: justify;
}
.compare-button3 {
  margin: var(--dl-space-space-halfunit);
  align-self: flex-end;
}
.compare-footer {
  width: 100%;
  height: 88px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgb(16, 87, 73);
}
.compare-text25 {
  color: rgba(255, 255, 255, 0.81);
}
.compare-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.compare-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.compare-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.compare-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .compare-dropdown-list {
    display: none;
  }
}
@media(max-width: 767px) {
  .compare-links {
    display: none;
  }
  .compare-icon02 {
    fill: var(--dl-color-scheme-green100);
  }
  .compare-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .compare-text25 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .compare-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .compare-text25 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
