<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>

<body>
<header th:replace="fragments/navigation"></header>
<link href="/css/expired.css" rel="stylesheet"/>
<link href="/css/home.css" rel="stylesheet"/>
<main>
  <div class="expired-container">
    <div class="expired-features">
      <h1 class="expired-text">
        <span>Session timeout</span>
        <br />
      </h1>
      <img
              src="/images/zld8ki8m1o171.jpg"
              alt="image"
              class="expired-image"
      />
    </div>
    <span class="expired-text3 validation">
      You were logged out due to inactivity for more than 30 minutes. Please log
      in again.
    </span>
  </div>
</main>
<footer th:replace="fragments/footer"></footer>
<script>
  window.onload = () => {
    const runAllScripts = () => {
      initializeAllAccordions()
    }

    const listenForUrlChanges = () => {
      let url = location.href
      document.body.addEventListener(
              'click',
              () => {
                requestAnimationFrame(() => {
                  if (url !== location.href) {
                    runAllScripts()
                    url = location.href
                  }
                })
              },
              true
      )
    }

    const initializeAllAccordions = () => {
      const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

      allAccordions.forEach((accordion) => {
        const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
        const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

        accordionHeader.addEventListener('click', () => {
          if (accordionContent.style.maxHeight) {
            accordionContent.style.maxHeight = ''
          } else {
            accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
          }
        })
      })
    }

    listenForUrlChanges()
    runAllScripts()
  }
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>
