<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>
<body>
<header th:replace="fragments/navigation"></header>
<main class="canvas-container">
    <link href="/css/home.css" rel="stylesheet"/>
    <div class="home-container">
        <div class="home-banner">
            <div class="home-container2">
                <h1 class="home-text15">Which Pet Food?</h1>
                <span class="home-text16">
              <span class="home-text17">
                Finding the right food can be a long and difficult journey. What
                food is best for the age or breed of my pet? Is the food
                nutritious and healthy?
              </span>
              <br/>
              <span>
                We are here to help you find answers to these questions and
                more...
              </span>
              <br/>
            </span>
            </div>
            <img
                    alt="image"
                    src="/images/photo-1593945612858-21310238eb77.jpg"
                    class="home-image"
            />
        </div>
        <div class="home-features">
            <h1 class="home-text21">Featured Brands</h1>
            <span class="home-text22">
            Discover products from the top, latest and trending brands
          </span>
            <div class="home-container3">
                <div
                        class="feature-card1-feature-card feature-card1-root-class-name"
                >
                    <img
                            alt="image"
                            src="/playground_assets/logo_royalcanin_1000x700-200h.jpg"
                            class="feature-card1-image"
                    />
                </div>
                <div
                        class="feature-card2-feature-card feature-card2-root-class-name"
                >
                    <img
                            alt="image"
                            src="/playground_assets/logo_josera_1000x700-200h.jpg"
                            class="feature-card2-image"
                    />
                </div>
                <div
                        class="feature-card3-feature-card feature-card3-root-class-name"
                >
                    <img
                            alt="image"
                            src="/playground_assets/logo_tasteofthewild_1000x700-200h.jpg"
                            class="feature-card3-image"
                    />
                </div>
                <div
                        class="feature-card4-feature-card feature-card4-root-class-name"
                >
                    <img
                            alt="image"
                            src="/playground_assets/logo_wolf_of_wilderness_1000x700-200h.jpg"
                            class="feature-card4-image"
                    />
                </div>
            </div>
        </div>
        <h1 class="home-text23">Most Reviewed</h1>
        <div class="home-reviews">
            <div class="home-container4">
                <div
                        class="review-card1-blog-post-card review-card1-root-class-name3"
                >
                    <img
                            alt="image"
                            src="https://images.unsplash.com/photo-1608408891486-f5cade977d19?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHBldCUyMGZvb2R8ZW58MHx8fHwxNjc1Mjg1MTUw&amp;ixlib=rb-4.0.3&amp;w=1500"
                            class="review-card1-image"
                    />
                    <div class="review-card1-container">
                <span id="title" class="review-card1-text">
                  <span>Lorem ipsum dolor sit amet</span>
                </span>
                        <span id="comment" class="review-card1-text1">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur, adipiscing elit.
                    Sed non volutpat turpis. ​ Mauris luctus rutrum mi ut
                    rhoncus. Integer in dignissim tortor. Lorem ​​ ipsum dolor
                    sit amet, consectetur adipiscing elit.
                  </span>
                </span>
                        <div class="review-card1-container1">
                            <div class="review-card1-profile">
                                <img
                                        id="userUrl"
                                        alt="profile"
                                        src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;w=200"
                                        image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                                        class="review-card1-image1"
                                />
                                <span id="displayName" class="review-card1-text2">
                      <span>Jon Doe</span>
                    </span>
                            </div>
                            <span id="created" class="review-card1-text3">
                    <span>5 min read</span>
                  </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-container5">
                <div
                        class="review-card2-blog-post-card review-card2-root-class-name"
                >
                    <img
                            alt="image"
                            src="https://images.unsplash.com/photo-1561297108-98ab65d92bd8?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDMzfHxwZXQlMjBmb29kfGVufDB8fHx8MTY3NTI4NTE1MA&amp;ixlib=rb-4.0.3&amp;w=1500"
                            class="review-card2-image"
                    />
                    <div class="review-card2-container">
                <span class="review-card2-text">
                  <span>Lorem ipsum dolor sit amet</span>
                </span>
                        <span class="review-card2-text1">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur, adipiscing elit.
                    Sed non volutpat turpis. ​ Mauris luctus rutrum mi ut
                    rhoncus. Integer in dignissim tortor. Lorem ​​ ipsum dolor
                    sit amet, consectetur adipiscing elit.
                  </span>
                </span>
                        <div class="review-card2-container1">
                            <div class="review-card2-profile">
                                <img
                                        alt="profile"
                                        src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                                        image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                                        class="review-card2-image1"
                                />
                                <span class="review-card2-text2"><span>Jon Doe</span></span>
                            </div>
                            <span class="review-card2-text3">
                    <span>5 min read</span>
                  </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-container6">
                <div
                        class="review-card3-blog-post-card review-card3-root-class-name"
                >
                    <img
                            alt="image"
                            src="https://images.unsplash.com/photo-1601758228041-f3b2795255f1?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM4fHxwZXQlMjBmb29kfGVufDB8fHx8MTY3NTI4NTE1MA&amp;ixlib=rb-4.0.3&amp;w=1500"
                            class="review-card3-image"
                    />
                    <div class="review-card3-container">
                <span class="review-card3-text">
                  <span>Lorem ipsum dolor sit amet</span>
                </span>
                        <span class="review-card3-text1">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur, adipiscing elit.
                    Sed non volutpat turpis. ​ Mauris luctus rutrum mi ut
                    rhoncus. Integer in dignissim tortor. Lorem ​​ ipsum dolor
                    sit amet, consectetur adipiscing elit.
                  </span>
                </span>
                        <div class="review-card3-container1">
                            <div class="review-card3-profile">
                                <img
                                        alt="profile"
                                        src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                                        image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
                                        class="review-card3-image1"
                                />
                                <span class="review-card3-text2"><span>Jon Doe</span></span>
                            </div>
                            <span class="review-card3-text3">
                    <span>5 min read</span>
                  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
<script>
    window.onload = () => {
        const runAllScripts = () => {
            initializeAllAccordions()
        }

        const listenForUrlChanges = () => {
            let url = location.href
            document.body.addEventListener(
                'click',
                () => {
                    requestAnimationFrame(() => {
                        if (url !== location.href) {
                            runAllScripts()
                            url = location.href
                        }
                    })
                },
                true
            )
        }

        const initializeAllAccordions = () => {
            const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

            allAccordions.forEach((accordion) => {
                const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
                const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

                accordionHeader.addEventListener('click', () => {
                    if (accordionContent.style.maxHeight) {
                        accordionContent.style.maxHeight = ''
                    } else {
                        accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
                    }
                })
            })
        }

        listenForUrlChanges()
        runAllScripts()
    }
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>
