<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>

  <body>
  <header th:replace="fragments/navigation"></header>
    <main>
      <link href="/css/login.css" rel="stylesheet" />
      <link href="/css/home.css" rel="stylesheet" />

      <div class="login-container">
        <div class="login-container1">
          <h1 class="login-text">Sign In</h1>
          <form class="login-form" th:action="@{/users/login}" th:method="POST">
            <img
              alt="image"
              src="/images/profile.png"
              class="login-image"
            />
            <div class="login-container2">
              <input
                      th:value="${username}"
                type="text"
                id="username"
                name="username"
                placeholder="E-mail address"
                class="login-input input"
              />
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                class="login-textinput input"
              />
            </div>
            <div th:if="${badCredentials}" class="validation">Incorrect username or password!</div>
            <button
              id="login-btn"
              name="login-btn"
              class="login-button button button-primary"
            >
              Sign In
            </button>
            <span class="login-text1">
              <a href="/users/register">Don't have an account? Register here.</a>
              <br />
            </span>
          </form>
        </div>
      </div>
    </main>
        <footer th:replace="fragments/footer"></footer>
  </body>
</html>
