<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>

<body>
<header th:replace="fragments/navigation"></header>
<link href="/css/manage-roles.css" rel="stylesheet"/>
<link href="/css/home.css" rel="stylesheet"/>
<main>
    <div class="manage-roles-container">
        <h1 class="manage-roles-text"><a href="/admin">Admin Panel</a></h1>
        <div class="manage-roles-container1">
            <h1 class="manage-roles-text">Change User Role</h1>
            <form class="manage-roles-form" th:method="POST" th:action="@{/admin/manage-roles}" th:object="${manageRoleDTO}">
                <div class="manage-roles-container2">
                    <input th:field="*{email}"
                            type="text"
                            id="email"
                            name="email"
                            placeholder="E-mail address"
                            class="manage-roles-input input"
                    />
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation">Email error message</small>
                    <div class="checkbox-wrapper">
                    <span th:each="role : ${roleNames}">
                    <input th:field="*{roles}"
                           type="checkbox"
                           id="role"
                           name="role"
                           class="checkbox"
                           th:value="${role}" />
                <label class="checkbox-label" th:text="${role}"></label>
                    </span>
                    </div>
                        <small th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="validation">Email error message</small>
                </div>
                <button
                        id="login-btn"
                        name="login-btn"
                        class="manage-roles-button button button-primary"
                >
                    Update
                </button>
            </form>
        </div>
    </div>
</main>
    <footer th:replace="fragments/footer"></footer>
<script src="/js/main.js"></script>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>
