<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/header"></head>

<body>
<header th:replace="fragments/navigation"></header>
<link href="/css/product-details.css" rel="stylesheet"/>
<link href="/css/home.css" rel="stylesheet"/>
<main class="canvas-container">
  <div class="product-container">
    <div class="product-container01">
      <div class="product-column">
        <section class="product-product-info">
          <div class="product-container02">
            <img
                    alt="image"
                    th:src="${productDetails.picUrl}"
                    class="product-image"
            />
            <div class="product-container03">
              <h1 th:text="${productDetails.name}">Heading</h1>
              <ul class="list">
                <li class="list-item" th:text="${productDetails.brandStr}"><span>Brand</span></li>
                <li class="list-item" th:text="|For: ${productDetails.petStr}s|"><span>Pet</span></li>
                <li class="list-item" th:text="${productDetails.description}"><span>Description</span></li>
                <li class="list-item" th:text="|Ingredients: ${productDetails.ingredientsListed}|"><span>Ingredients</span></li>
              </ul>
              <div class="product-container04">
                <form style="display: inline" th:action="@{/products/fave-product/{id}(id=${productDetails.id})}" method="get">
                <button th:unless="${productDetails.loggedUserFave}"
                        sec:authorize="isAuthenticated()"
                        class="product-button1 button-secondary button">
                  Favorite
                </button>
                </form>
                <form style="display: inline" th:action="@{/products/edit-product/{id}(id=${productDetails.id})}" method="get">
                <button sec:authorize="hasAnyRole('ROLE_MODERATOR', 'ROLE_ADMIN')"
                        class="product-button2 button-secondary button">
                 Edit
                </button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <div class="product-review-section" th:each="review : ${productDetails.reviewsInfo}">
          <div class="product-container05">
            <img
                    alt="image"
                    th:src="${review.authorProfilePic}"
                    class="product-image1"
            />
            <span class="product-text10">
              <span th:text="${review.created}">DD/MM/YY</span>
              <br />
            </span>
          </div>
          <div class="product-container06">
            <span class="product-text13">
              <span th:text="${review.authorUsername}">Username</span>
              <br />
            </span>
            <span th:text="${review.content}">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel
              congue arcu. Nam placerat, est vel scelerisque ultricies, lorem
              risus pretium ipsum, vel luctus neque lectus non lacus.
            </span>
            <form style="display: inline" th:action="@{/reviews/{productId}/report-review/{reviewId}(productId=${productDetails.id}, reviewId=*{review.id})}" method="get">
            <button class="product-button4 button-secondary button" sec:authorize="isAuthenticated()"> Report<br />
            </button>
            </form>
          </div>
        </div>
        <form sec:authorize="isAuthenticated()" th:action="@{/reviews/post-review/{productId}(productId=${productDetails.id})}" th:method="POST" th:object="${addReviewDTO}">
        <div class="product-container07">
          <textarea th:value="${addReviewDTO.content}" th:field="${addReviewDTO.content}"
                  placeholder="Write your review here..."
                  class="product-textarea textarea"
                    name="content"
          ></textarea>
          <small th:if="${#fields.hasErrors('content')}" th:errors="${addReviewDTO.content}" class="validation">Email error message</small>
          <button class="product-button5 button button-primary">Submit</button>
        </div>
        </form>
      </div>
      <div class="product-container08">
        <h2 class="product-text20">Recommended</h2>
        <div class="product-container09" th:each="product : ${recommendedProducts}">
          <img
                  alt="image"
                  th:src="${product.picUrl}"
                  class="product-image2"
          />
          <div class="product-container10">
            <strong th:text="${product.name}">FoodName</strong>
            <span>
              <span th:text="|Reviews: ${product.reviewsCount}|">10 reviews</span>
              <br />
            </span>
            <span th:text="|For ${product.petStr}s|">For Cats</span>
            <a th:href="@{/products/details/{id}(id=*{product.id})}" style="color:#36AE7C;">View</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"></footer>
<script>
  window.onload = () => {
    const runAllScripts = () => {
      initializeAllAccordions()
    }

    const listenForUrlChanges = () => {
      let url = location.href
      document.body.addEventListener(
              'click',
              () => {
                requestAnimationFrame(() => {
                  if (url !== location.href) {
                    runAllScripts()
                    url = location.href
                  }
                })
              },
              true
      )
    }

    const initializeAllAccordions = () => {
      const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

      allAccordions.forEach((accordion) => {
        const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
        const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

        accordionHeader.addEventListener('click', () => {
          if (accordionContent.style.maxHeight) {
            accordionContent.style.maxHeight = ''
          } else {
            accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
          }
        })
      })
    }

    listenForUrlChanges()
    runAllScripts()
  }
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>