<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header"></head>

<body>
<header th:replace="fragments/navigation"></header>
      <link href="/css/profile.css" rel="stylesheet" />
      <link href="/css/home.css" rel="stylesheet" />
<div class="profile-container">
        <div class="profile-container02">
          <h3 class="profile-text15">Profile</h3>
          <div class="profile-container03">
            <div class="profile-container04">
              <p class="profile-text16">User Settings</p>
              <span class="profile-text17" th:text="|Created: ${profileInfo.created}|">Created: DD/MM/YYYY</span>
            </div>
            <div>
              <form th:method="PATCH" th:action="@{/users/myProfile}" th:object="${editUserProfileDTO}">
                <div class="profile-container06">
                  <div class="profile-container07">
                    <img
                      th:src="${profileInfo.profilePicUrl}"
                      class="profile-image"
                    />
                    <div>
                      <div class="profile-container17">
                        <label for="confirmPassword" class="profile-text24">
                          <span class="profile-text25">Image URL</span>
                        </label>
                      </div>
                      <input th:field="*{profilePicUrl}"
                              type="text"
                              id="profilePicUrl"
                              name="profilePicUrl"
                              placeholder="Profile Pic URL"
                              class="profile-textinput1 input"
                      />
                      <small th:if="${#fields.hasErrors('profilePicUrl')}" th:errors="*{profilePicUrl}" class="validation">Email error message</small>
                    </div>
                  </div>
                  <br />
                  <div>
                    <div>
                      <div class="profile-container10">
                        <div class="profile-container11">
                          <label for="email" class="profile-text18">
                            <span class="profile-text19">Email Address</span>
                          </label>
                        </div>
                        <input th:field="*{email}"
                          type="email"
                          id="email"
                          name="email"
                          th:placeholder="${profileInfo.email}"
                          class="profile-textinput input"
                        />
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation">Email error message</small>
                      </div>
                      <div>
                        <div class="profile-container13">
                          <label for="displayName" class="profile-label">
                            <span class="profile-text20">Display Name</span>
                            <br />
                          </label>
                        </div>
                        <input th:field="*{displayName}"
                          type="text"
                          id="displayName"
                          name="displayName"
                          th:placeholder="${profileInfo.displayName}"
                          class="profile-textinput input"
                        />
                        <small th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}" class="validation">Email error message</small>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="profile-container15">
                      <label for="password" class="profile-text22">
                        <span class="profile-text23">Password</span>
                      </label>
                    </div>
                    <input th:field="*{password}"
                      type="password"
                      id="password"
                      placeholder="New Password"
                      class="profile-textinput input"
                    />
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation">Email error message</small>
                    <div>
                      <div class="profile-container17">
                        <label for="confirmPassword" class="profile-text24">
                          <span class="profile-text25">Confirm Password</span>
                        </label>
                      </div>
                      <input th:field="*{confirmPassword}"
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        placeholder="Confirm Password"
                        class="profile-textinput input"
                      />
                      <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="validation">Email error message</small>
                    </div>
                  </div>
                  <div class="checkbox-wrapper">
                    <label class="p-2 " for="pet">Pets:</label>
                    <span th:each="type : ${petTypes}">
              <input th:field="*{types}"
                     type="checkbox"
                     id="pet"
                     name="type"
                     class="checkbox"
                     th:checked="${profileInfo.hasPet(type)}"
                     th:value="${type}"
              />
                <label class="checkbox-label" th:text="${type}"></label>
                </span>
                    <small th:if="${#fields.hasErrors('types')}" th:errors="*{types}" class="validation">Email error message</small>
                  </div>
                  <div class="profile-container19">
                    <button
                      id="submitBtn"
                      type="submit"
                      class="profile-button3 button button-primary"
                    >
                      Save Settings
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
  <footer th:replace="fragments/footer"></footer>
      </div>
    </div>
    <script>
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllAccordions()
        }

        const listenForUrlChanges = () => {
          let url = location.href
          document.body.addEventListener(
            'click',
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts()
                  url = location.href
                }
              })
            },
            true
          )
        }

        const initializeAllAccordions = () => {
          const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

          allAccordions.forEach((accordion) => {
            const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
            const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

            accordionHeader.addEventListener('click', () => {
              if (accordionContent.style.maxHeight) {
                accordionContent.style.maxHeight = ''
              } else {
                accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
              }
            })
          })
        }

        listenForUrlChanges()
        runAllScripts()
      }
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>
