<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<p>
    Welcome to Pet Food Analyzer!

    You were registered successfully. You can now find recommended food specifically for your pet, save favorites and review foods. Have fun!

    Sincerely,

    Pet Food Analyzer team!
</p>

</body>
</html>